:root {
    --color-white: #FFFFFF;
    --color-gray: #697CA6;
    --color-gray-alt: #8D96BD;
    --color-blue: #5E81FE;
    --color-dark-blue: #3D4F9F;
    --button-color-light-blue: #D2E1FF;
    --border-radius: 5px;

    --transition-duration: 0.3s;
}