.blog {
    background-color: #F5F8FF;
}

.blog__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog__top {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 92px;
}

.blog__subtitle {
    color: var(--color-dark-blue);
    font-size: 10px;
}

.blog__title {
    color: var(--color-dark-blue);
    font-size: 24px;
}

.blog__slider {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #fff;
    @include value-clamp(max-width, 300px, 60vw, 960px);
    margin-bottom: 158px;
}

.slider__arrow-left {
    position: absolute;
    top: 50%;
    left: -98px;
    cursor: pointer;

}

.slider__arrow-right {
    position: absolute;
    top: 50%;
    right: -98px;
    rotate: 180deg;
    cursor: pointer;
}

.blog__slider-wrapper {
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    width: 100%;
}

.blog__slide {
    display: flex;
    gap: clamp(20px, 4.75vw, 66px);
    padding: 70px 40px 57px 36px;
    width: 100%;
    @include value-clamp(min-width, 300px, 60vw, 930px);

    transition: transform var(--transition-duration) ease;
}

.blog__imgs {
    display: flex;
    gap: 13px;
    position: relative;
}

.blog__main-img {
    max-width: clamp(150px, 32vw, 267px);
    max-height: clamp(150px, 32vw, 267px);
}

.slider__view {
    opacity: 0.55;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65px;
    height: 65px;
    background-color: #fff;
    bottom: 40%;
    left: 25%;
    border-radius: 100%;
    transition: opacity var(--transition-duration) ease-out;

    &:hover {
        opacity: 1;
        cursor: pointer;
    }
}

.blog__accent-imgs {
    display: flex;
    flex-direction: column;
    gap: 13px;
    align-items: center;
}

.blog__accent-img {

    width: clamp(68px, 15vw, 128px);
    height: clamp(68px, 15vw, 128px);

}

.blog__slider-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 5px;
}

.blog__slide-title {
    color: var(--color-dark-blue);
    font-size: clamp(28px, 5vw, 36px);
    padding-bottom: 32px;
    white-space: nowrap;
}

.blog__slide-text {
    color: #8D96BD;
    font-size: 14px;
    max-width: clamp(300px, 10vw, 408px);
    line-height: 191%;

}

.slide__btns {
    display: flex;
    padding: 13px 18px;
    gap: 14px;
}

.slide__read-btn {
    color: #3A79FF;
    font-size: 13px;
    font-weight: 700;
    background-color: #D2E1FF;
    padding: 13px 18px;
    transition: background-color var(--transition-duration) ease;
    white-space: nowrap;
    text-align: center;
    &:hover {
        background-color: #adc3f0;
    }
}

.slide__add-to-bookmarks-btn {
    color: #A6B6DA;
    font-size: 13px;
    font-weight: 700;
    background-color: transparent;
    border: 0;
    white-space: nowrap;
    &:hover {
        text-decoration: underline;
    }
}

.blog__pagination-dot {
    width: 8px;
    height: 8px;
    background-color: #D1D6E3;
    border-radius: 100%;
    cursor: pointer;
    transition: background-color .1s ease-in;
    margin-bottom: 100px;

    &:hover {
        background-color: var(--color-gray-alt);
    }
}

.blog__pagination-dot.active {
    background-color: var(--color-blue);
}
