.content__subtitle {
    font-size: 12px;
    font-weight: 500;
    color: var(--color-dark-blue);
}

.content__title {
    font-size: 36px;
    font-weight: 400;
    color: var(--color-dark-blue);  
}

.content__text {
    font-size: 15px;
    line-height: 28px;
    color: #8D96BD;
}